################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSVChallenge/obj
/CSVChallenge/.vs/CSVChallenge/v16
